* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  html {
    overflow-x: hidden;
    font-size: $font-size;
  }
    
  body {
    display: flex;
    flex-direction: column;
    //position: relative;
    font-family: $font-family;
    letter-spacing: 0.5px;
    font-size: 1rem;
  }
    
  a {
    text-decoration: none;
    color: unset;
  }

  ul, ol {
    list-style: none;
    text-decoration: none;
  }

  h1 {
    font-weight: 100;
    font-size: 5.334rem;
    letter-spacing: -0.0834rem;
  }

  h2 {
    font-weight: 100;
    font-size: 3.334rem;
    letter-spacing: -0.0278rem;
  }

  h3 {
    font-weight: 400;
    font-size: 2.6668rem;
  }

  h4 {
    font-weight: 400;
    font-size: 1.8889rem;
    letter-spacing: 0.0139rem;
  }

  h5 {
    font-weight: 400;
    font-size: 1.3334rem;
  }

  h6 {
    font-weight: 700;
    font-size: 1.1111rem;
    letter-spacing: 0.0083rem;
  }

  .subT-1 {
    font-family: $second-font;
    font-weight: 600;
    font-size: 0.8889rem;
    letter-spacing: 0.0083rem;
    color: $complementary;
  }

  .subT-2 {
    font-family: $second-font;
    font-weight: 600;
    font-size: 0.7778rem;
    letter-spacing: 0.0083rem;
    color: $complementary;
  }
  //Mixins
  @mixin btn {
    font-weight: 700;
    font-size: 0.7778rem;
    letter-spacing: 0.0694rem;
  }

  @mixin caption {
    font-weight: 400;
    font-size: 0.6667rem;
    letter-spacing: 0.0222rem;
  }

  @mixin overline {
    font-weight: 400;
    font-size: 0.5556rem;
    letter-spacing: 0.0833rem;
  }

  @media screen and (max-width: 1190px) {
    html {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 940px) {
    h2 {
      font-size: 3rem;
    }
  }

  @media screen and (max-width: 860px) {
    h2 {
      font-size: 2.5rem;
    }
  }