.cryptoverse_main-content_homepage {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background: $background;

  .cryptoverse_main-content_homepage-cardscontainer {
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    justify-content: space-between;

    .cryptoverse_main-content_homepage-cardscontainer-card {
      margin: 10px;
    }
  }

  .cryptoverse_main-content_homepage-cryptoheadings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;

    h4 {
      color: $complementary;
    }
  }

  .cryptoverse_main-content_homepage-newsheadings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;

    h4 {
      color: $complementary;
    }
  }
}

@media screen and (max-width: 450px) {
  .cryptoverse_main-content_homepage {
    .cryptoverse_main-content_homepage-cardscontainer {
      display: flex;
      flex-direction: column;
    }
    .cryptoverse_main-content_homepage-cryptoheadings {
      flex-direction: column;
    }
    .cryptoverse_main-content_homepage-newsheadings {
      flex-direction: column;
    }

  }
}