$font-size: 18px;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');
$font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
$second-font: 'Nunito', sans-serif;
//Colors
 //-Primary
$primary: #180850;
$complementary: #8ba000;
 //-Neutral
$error: #e03b0d;
$secondary: #a40de0;
$secondary2: #7A10D3;
$background: rgb(165, 147, 147);
$onBack: #000;