@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: unset;
}

ul, ol {
  list-style: none;
  text-decoration: none;
}

h1 {
  font-weight: 100;
  font-size: 5.334rem;
  letter-spacing: -0.0834rem;
}

h2 {
  font-weight: 100;
  font-size: 3.334rem;
  letter-spacing: -0.0278rem;
}

h3 {
  font-weight: 400;
  font-size: 2.6668rem;
}

h4 {
  font-weight: 400;
  font-size: 1.8889rem;
  letter-spacing: 0.0139rem;
}

h5 {
  font-weight: 400;
  font-size: 1.3334rem;
}

h6 {
  font-weight: 700;
  font-size: 1.1111rem;
  letter-spacing: 0.0083rem;
}

.subT-1 {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 0.8889rem;
  letter-spacing: 0.0083rem;
  color: #8ba000;
}

.subT-2 {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 0.7778rem;
  letter-spacing: 0.0083rem;
  color: #8ba000;
}

.jstcontainer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1190px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 940px) {
  h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 860px) {
  h2 {
    font-size: 2.5rem;
  }
}
.cryptoverse_header_navgation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1111rem 1.6667rem;
  background: #180850;
  color: #d5d8df;
}
.cryptoverse_header_navgation .cryptoverse_header_navgation-logo {
  display: flex;
  flex-direction: column;
}
.cryptoverse_header_navgation .cryptoverse_header_navgation-logo img {
  width: 100px;
  margin: 5px auto;
}
.cryptoverse_header_navgation .cryptoverse_header_navgation-menu .cryptoverse_header_navgation-menu-links {
  display: flex;
}
.cryptoverse_header_navgation .cryptoverse_header_navgation-menu .cryptoverse_header_navgation-menu-links li {
  margin: 0 10px;
}

@media screen and (max-width: 700px) {
  .cryptoverse_header_navgation .cryptoverse_header_navgation-menu .cryptoverse_header_navgation-menu-links {
    flex-direction: column;
    text-align: right;
  }
  .cryptoverse_header_navgation .cryptoverse_header_navgation-menu .cryptoverse_header_navgation-menu-links li {
    margin-bottom: 8px;
  }
}
.cryptoverse_main-content_homepage {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background: #d5d8df;
}
.cryptoverse_main-content_homepage .cryptoverse_main-content_homepage-cardscontainer {
  display: grid;
  grid-template-columns: auto auto;
  width: 80%;
  justify-content: space-between;
}
.cryptoverse_main-content_homepage .cryptoverse_main-content_homepage-cardscontainer .cryptoverse_main-content_homepage-cardscontainer-card {
  margin: 10px;
}
.cryptoverse_main-content_homepage .cryptoverse_main-content_homepage-cryptoheadings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}
.cryptoverse_main-content_homepage .cryptoverse_main-content_homepage-cryptoheadings h4 {
  color: #8ba000;
}
.cryptoverse_main-content_homepage .cryptoverse_main-content_homepage-newsheadings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}
.cryptoverse_main-content_homepage .cryptoverse_main-content_homepage-newsheadings h4 {
  color: #8ba000;
}

@media screen and (max-width: 450px) {
  .cryptoverse_main-content_homepage .cryptoverse_main-content_homepage-cardscontainer {
    display: flex;
    flex-direction: column;
  }
  .cryptoverse_main-content_homepage .cryptoverse_main-content_homepage-cryptoheadings {
    flex-direction: column;
  }
  .cryptoverse_main-content_homepage .cryptoverse_main-content_homepage-newsheadings {
    flex-direction: column;
  }
}
.cryptoverse_main-content_cryptocurrencies {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d5d8df;
}
.cryptoverse_main-content_cryptocurrencies .cryptoverse_main-content_cryptocurrencies-search {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.cryptoverse_main-content_cryptocurrencies .cryptoverse_main-content_cryptocurrencies-search input {
  width: 90%;
  height: 40px;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  border-radius: 8px;
  outline: 5px solid #8ba000;
}
.cryptoverse_main-content_cryptocurrencies .cryptoverse_main-content_cryptocurrencies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
}
.cryptoverse_main-content_cryptocurrencies .cryptoverse_main-content_cryptocurrencies-container .cryptoverse_main-content_cryptocurrencies-container-card {
  display: flex;
  flex-direction: column;
  background: #FFF;
  min-height: 200px;
  padding: 10px;
  margin: 10px;
}
.cryptoverse_main-content_cryptocurrencies .cryptoverse_main-content_cryptocurrencies-container .cryptoverse_main-content_cryptocurrencies-container-card .cryptoverse_main-content_cryptocurrencies-container-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.cryptoverse_main-content_cryptocurrencies .cryptoverse_main-content_cryptocurrencies-container .cryptoverse_main-content_cryptocurrencies-container-card .cryptoverse_main-content_cryptocurrencies-container-card-header img {
  width: 40px;
}
.cryptoverse_main-content_cryptocurrencies .cryptoverse_main-content_cryptocurrencies-container .cryptoverse_main-content_cryptocurrencies-container-card .cryptoverse_main-content_cryptocurrencies-container-card-infos {
  margin-top: 35px;
  line-height: 40px;
}
.cryptoverse_main-content_cryptocurrencies .cryptoverse_main-content_cryptocurrencies-container .cryptoverse_main-content_cryptocurrencies-container-card .cryptoverse_main-content_cryptocurrencies-container-card-infos p span {
  color: #8ba000;
  font-weight: 600;
}

.cryptoverse_main-content_news {
  background: #d5d8df;
}
.cryptoverse_main-content_news .cryptoverse_main-content_news-query {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.cryptoverse_main-content_news .cryptoverse_main-content_news-query select {
  width: 90%;
  height: 40px;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  border-radius: 8px;
  outline: 5px solid #8ba000;
}
.cryptoverse_main-content_news .cryptoverse_main-content_news-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  width: 100%;
}
.cryptoverse_main-content_news .cryptoverse_main-content_news-cards a .cryptoverse_main-content_news-cards_card {
  padding: 10px;
  margin: 10px;
  background: #FFF;
  align-items: stretch;
}
.cryptoverse_main-content_news .cryptoverse_main-content_news-cards a .cryptoverse_main-content_news-cards_card .cryptoverse_main-content_news-cards_card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cryptoverse_main-content_news .cryptoverse_main-content_news-cards a .cryptoverse_main-content_news-cards_card .cryptoverse_main-content_news-cards_card-header img {
  flex: 1;
  max-height: 100px;
  max-width: 100px;
}
.cryptoverse_main-content_news .cryptoverse_main-content_news-cards a .cryptoverse_main-content_news-cards_card .cryptoverse_main-content_news-cards_card-header h4 {
  flex: 4;
}
.cryptoverse_main-content_news .cryptoverse_main-content_news-cards a .cryptoverse_main-content_news-cards_card p {
  margin: 15px 0;
}
.cryptoverse_main-content_news .cryptoverse_main-content_news-cards a .cryptoverse_main-content_news-cards_card .cryptoverse_main-content_news-cards_card-footer {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}
.cryptoverse_main-content_news .cryptoverse_main-content_news-cards a .cryptoverse_main-content_news-cards_card .cryptoverse_main-content_news-cards_card-footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cryptoverse_main-content_news .cryptoverse_main-content_news-cards a .cryptoverse_main-content_news-cards_card .cryptoverse_main-content_news-cards_card-footer div img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
/*
.cryptoverse_main-content_news {
    .cryptoverse_main-content_news-query {}
    .cryptoverse_main-content_news-cards {
      a {
        .cryptoverse_main-content_news-cards_card {
          .cryptoverse_main-content_news-cards_card-header {}
          .cryptoverse_main-content_news-cards_card-footer {}
        }
      }
    }
  }
*/
.cryptoverse_main-content_exchanges {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #d5d8df;
}
.cryptoverse_main-content_exchanges .cryptoverse_main-content_exchanges-headers {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.cryptoverse_main-content_exchanges .cryptoverse_main-content_exchanges-headers p {
  font-size: 1rem;
  margin: 20px 0;
}
.cryptoverse_main-content_exchanges .cryptoverse_main-content_exchanges-container {
  width: 90%;
  margin-bottom: 50px;
}
.cryptoverse_main-content_exchanges .cryptoverse_main-content_exchanges-container .cryptoverse_main-content_exchanges-container_card {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cryptoverse_main-content_exchanges .cryptoverse_main-content_exchanges-container .cryptoverse_main-content_exchanges-container_card .cryptoverse_main-content_exchanges-container_card-status {
  display: flex;
  position: relative;
  justify-content: space-around;
  background: #FFF;
  border: 2px solid #8ba000;
  min-height: 80px;
}
.cryptoverse_main-content_exchanges .cryptoverse_main-content_exchanges-container .cryptoverse_main-content_exchanges-container_card .cryptoverse_main-content_exchanges-container_card-status p {
  flex: 1;
  justify-content: center;
  align-self: center;
}
.cryptoverse_main-content_exchanges .cryptoverse_main-content_exchanges-container .cryptoverse_main-content_exchanges-container_card .cryptoverse_main-content_exchanges-container_card-status p span:first-child {
  color: #8ba000;
  font-weight: 600;
}
.cryptoverse_main-content_exchanges .cryptoverse_main-content_exchanges-container .cryptoverse_main-content_exchanges-container_card .cryptoverse_main-content_exchanges-container_card-status p:first-child {
  flex: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 70px;
}
.cryptoverse_main-content_exchanges .cryptoverse_main-content_exchanges-container .cryptoverse_main-content_exchanges-container_card .cryptoverse_main-content_exchanges-container_card-status p:nth-child(4n) {
  position: absolute;
  margin-left: 100px;
  right: 5px;
}
/*
.cryptoverse_main-content_exchanges {
  .cryptoverse_main-content_exchanges-headers {}
  .cryptoverse_main-content_exchanges-container {
    .cryptoverse_main-content_exchanges-container_card {
        .cryptoverse_main-content_exchanges-container_card-status {}
        .cryptoverse_main-content_exchanges-container_card-description {}
    }
  }
}
*/
.cryptoverse_main-content_cryptodetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-headers {
  text-align: center;
}
.cryptoverse_main-content_cryptodetails form {
  max-width: 300px;
}
.cryptoverse_main-content_cryptodetails form label select {
  width: 90%;
  height: 40px;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  border-radius: 8px;
  outline: 5px solid #8ba000;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-stats {
  width: 90%;
  margin: 0 auto;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-stats .cryptoverse_main-content_cryptodetails-stats-statistics {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-stats .cryptoverse_main-content_cryptodetails-stats-statistics .cryptoverse_main-content_cryptodetails-stats-statistics-headings {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-stats .cryptoverse_main-content_cryptodetails-stats-statistics .cryptoverse_main-content_cryptodetails-stats-statistics-headings h3 {
  text-align: center;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-stats .cryptoverse_main-content_cryptodetails-stats-statistics .cryptoverse_main-content_cryptodetails-stats-statistics-headings h5 {
  text-align: center;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-stats .cryptoverse_main-content_cryptodetails-stats-statistics .cryptoverse_main-content_cryptodetails-stats-statistics-headings .cryptoverse_main-content_cryptodetails-stats-statistics-names {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 20px;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-stats .cryptoverse_main-content_cryptodetails-stats-statistics .cryptoverse_main-content_cryptodetails-stats-statistics-headings .cryptoverse_main-content_cryptodetails-stats-statistics-names p:nth-child(2) {
  color: #8ba000;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-stats .cryptoverse_main-content_cryptodetails-stats-statistics .cryptoverse_main-content_cryptodetails-stats-otherstatistics-headings {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-stats .cryptoverse_main-content_cryptodetails-stats-statistics .cryptoverse_main-content_cryptodetails-stats-otherstatistics-headings h3 {
  text-align: center;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-stats .cryptoverse_main-content_cryptodetails-stats-statistics .cryptoverse_main-content_cryptodetails-stats-otherstatistics-headings h5 {
  text-align: center;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-stats .cryptoverse_main-content_cryptodetails-stats-statistics .cryptoverse_main-content_cryptodetails-stats-otherstatistics-headings .cryptoverse_main-content_cryptodetails-stats-otherstatistics-names {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 20px;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-stats .cryptoverse_main-content_cryptodetails-stats-statistics .cryptoverse_main-content_cryptodetails-stats-otherstatistics-headings .cryptoverse_main-content_cryptodetails-stats-otherstatistics-names p:nth-child(2) {
  color: #8ba000;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-descrption_links {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-descrption_links .cryptoverse_main-content_cryptodetails-descrption_links-desc {
  flex: 1;
  padding: 10px;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-descrption_links .cryptoverse_main-content_cryptodetails-descrption_links-desc h3 {
  font-weight: 600;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-descrption_links .cryptoverse_main-content_cryptodetails-descrption_links-desc h3:first-child {
  color: #8ba000;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-descrption_links .cryptoverse_main-content_cryptodetails-descrption_links-desc h3:not(:first-child) {
  font-size: 1.5rem;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-descrption_links .cryptoverse_main-content_cryptodetails-descrption_links-links {
  flex: 1;
  padding: 10px;
  text-align: center;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-descrption_links .cryptoverse_main-content_cryptodetails-descrption_links-links h3 {
  color: #8ba000;
  font-weight: 600;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-descrption_links .cryptoverse_main-content_cryptodetails-descrption_links-links div {
  display: flex;
  justify-content: space-between;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-descrption_links .cryptoverse_main-content_cryptodetails-descrption_links-links div h5 {
  font-weight: 600;
  margin-top: 10px;
}
.cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-descrption_links .cryptoverse_main-content_cryptodetails-descrption_links-links div a {
  color: #8ba000;
}

@media screen and (max-width: 720px) {
  .cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-stats .cryptoverse_main-content_cryptodetails-stats-statistics {
    flex-direction: column;
  }
  .cryptoverse_main-content_cryptodetails .cryptoverse_main-content_cryptodetails-descrption_links {
    flex-direction: column;
  }
}
.cryptoverse_footer {
  background: #180850;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.1111rem 1.6667rem 0;
  color: #d5d8df;
}
.cryptoverse_footer .cryptoverse_footer-navigation .cryptoverse_header_navgation-menu-links {
  display: flex;
}
.cryptoverse_footer .cryptoverse_footer-navigation .cryptoverse_header_navgation-menu-links li {
  margin: 0 10px 10px 10px;
}
.cryptoverse_footer p {
  margin-bottom: 10px;
}/*# sourceMappingURL=main.css.map */